// footer.scss
@use './variables' as *;

footer {
    background: $orange;
    position: fixed;
    bottom: 0;
    width: 100vw;
    p,
    a{
        text-align: center;
        font-size: 0.8rem;
        color: black;
        line-height: 1.6rem;
    }

}
