// footer.scss
@use './variables' as *;

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    p,
    a{
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.6rem;
    }

}

.light footer {
    background: $orange;
    p, a{
        color: black;
    }
}

.dark footer {
    background: $blue;
    p, a{
        color: white
    }
}
