// header.scss
@use './variables' as *;

header {
    position: fixed;
    background: $orange;
    width: 100%;
    display: flex;
    justify-content: space-between;

    
    .logo {
        margin-left: 2.5rem;
        width: 3rem;
    }

    .themeButton{
        margin-right: 2.5rem;
        width: 3rem;
        border-style: none;
        background-color: rgba( 0, 0, 0, 0);
        cursor: pointer;
    }
}

.dark header {
    background: $blue;

    button {
        color: $white;
    }
}