// header.scss
@use './variables' as *;

header {
    position: fixed;
    height: 3.5rem;
    width: 100%;
    background: $orange;
    
    .logo {
        margin-left: 2.5rem;
        width: 4%;
    }
}