@use './variables' as *;

.homeTextContainer {
    height: 40vh;
    padding-top: 3rem;
    display: flex; 
    justify-content: center;
    align-items: center;

    img {
        height: 8rem;
        width: 8rem;
        position: absolute;
        top: 12%;
        left: 23%;
    }

    h1 {
        padding: 3rem 0 0 3rem;
    }
}

.textContainer {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: $yellow;
    border: 1px solid $orange;
    border-radius: 1.5rem;
    opacity: 70%;

    h2 {
        text-align: center;
        padding-bottom: 0.75rem;
    }

    h3 {
        text-align: center;
        padding-bottom: 0.75rem;

        span {
            color: $blue;
        }
    }

    p {
        text-align: center;
    }
}

.pText {
    padding-bottom: 1rem;
}

.sunMobile {
    display: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .arrowDownButton {
        width: 5rem;
        padding-top: 1rem;
        background: $yellow;
        opacity: 70%;
        border: 1px solid $orange;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        transition: 0.3s ease, color 0.3s ease;
    }

    button:hover, 
    button:focus {
        background: $orange;
    }
}

.dark {
    .textContainer {
        background: $white;
        border: 3px solid white;

        span {
            color: black;
        }
    }

    .arrowDownButton {
        background: $white;
        border: 3px solid white;
    }
}