// Variables.scss

// FONTS
$headerFont: 'Quicksand', sans-serif;
$baseFont: 'Poppins', sans-serif;

// COLOR PALLETTE 
$orange: #FF9B71;
$blue: #2B3A67;
$headerTitle: #E84855;
$red: #D14316;
$background: #F8F7F4;
$yellow: rgba(255, 253, 130, 0.41);
$sidebarYellow: #FFFEB9;
$white: #D9D9D9;
